<address>
  <strong>BarberShop Inc.</strong><br>
  13 Komandarma Belova Street.<br>
  Cherepovets, Vologda region<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>

<textarea class="form-control" rows="3"></textarea>